<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="/images/fav.png"/>
    <link rel="icon" href="/images/fav.png"/>    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-light">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand " href="#"  >
            <img src="/images/logo.png" alt="" onclick="location.href = '\\'">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="home">Home
                        <span class="sr-only" >(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="request">Request</a>
                </li>

            </ul>

        </div>
    </div>
</nav>

<!-- Page Content -->
<br>
<br>

<div class="container register bg-light ">
    <div class="row ">
        <div class="col-md-12  ">
            <center>
            <ul class="nav nav-tabs nav-justified " id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="font-weight: bold;font-size: 22px">individual</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" style="font-weight: bold;font-size: 22px">company</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading ">Apply as an individual</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name *" value="" />
                            </div>

                            <div class="form-group">
                                <select class="form-control">
                                    <option class="hidden"  selected disabled>Gender</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option class="hidden"  selected disabled>E-waste type</option>
                                    <option>Television</option>
                                    <option>Computer</option>
                                    <option>Printer</option>
                                    <option>Cellphone</option>
                                    <option>Batteries</option>
                                    <option>Fax machine</option>
                                    <option>Refrigerator</option>
                                    <option>Microwave</option>
                                    <option>Receiver</option>
                                </select>
                            </div>
                            <div class="form-group">

                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <select class="form-control">
                                    <option class="hidden"  selected disabled>Your age range</option>
                                    <option>under 18</option>
                                    <option>18-24</option>
                                    <option>24-30</option>
                                    <option>30-40</option>
                                    <option>over 40</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" minlength="10" maxlength="11" name="txtEmpPhone" class="form-control" placeholder="Your Phone *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="address *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control " placeholder="E-waste Quantity *" value="" />
                            </div>
                            <input type="submit" class="btnRegister btn btn-primary btn-md"  value="Request" onclick="location.href = '\\'"/>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3  class="register-heading">Apply as a company</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Company's name *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your name *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="address *" value="" />
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option class="hidden"  selected disabled>E-waste type</option>
                                    <option>Television</option>
                                    <option>Computer</option>
                                    <option>Printer</option>
                                    <option>Cellphone</option>
                                    <option>Batteries</option>
                                    <option>Fax machine</option>
                                    <option>Refrigerator</option>
                                    <option>Microwave</option>
                                    <option>Receiver</option>
                                </select>
                            </div>
                            <div class="form-group">

                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <select class="form-control">
                                    <option class="hidden"  selected disabled>Company type</option>
                                    <option>Private</option>
                                    <option>Governmental</option>
                                    <option>Non-governmental</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" minlength="10" maxlength="11" name="txtEmpPhone" class="form-control" placeholder="Company phone *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" minlength="10" maxlength="11" name="txtEmpPhone" class="form-control" placeholder="Your Phone *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control " placeholder="E-waste Quantity *" value="" />
                            </div>
                            <input type="submit" class="btnRegister btn btn-primary btn-md"  value="Request" onclick="location.href = '\\'"/>
                        </div>
                    </div>
                </div>
            </div>
            </center>
        </div>
    </div>

</div>
<!-- /.container -->
<br><br>
<!-- Footer -->
<div>
    <footer class="page-footer font-small blue fixed-bottom">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="#">AK</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</div>


<script>
    function request() {

    }
</script>
</body>
</html>
