body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: darkgreen;
}

a {
  color: #00B7FF;
}
footer {

  background-color: darkgray;
}

.width30{
    width: 30%;

}